// ====================================================================
// Variables - Colors
// ====================================================================

$color-main: #eba200;
$color-white: #eee;
$color-black: #001228;

// ====================================================================
// Variables - Spacing & Layout
// ====================================================================

$padding-small: 				5px;
$padding-half: 				  10px;
$padding-general: 			20px;
$padding-large: 			  30px;
$padding-double:		 	  40px;
